<section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="inner-heading">
            <h2>서비스 소개</h2>
          </div>
        </div>
        <div class="span8">
          <ul class="breadcrumb">
            <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
            <li><a href="#">소개</a><i class="icon-angle-right"></i></li>
            <li class="active">서비스 소개</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
<section id="content">
<div class="container" id="company-regist-container">
<!-- Portfolio Projects -->
<div class="row">
<div class="span12">
    <h4 class="heading">블록체인 반려견 혈통서 서비스</h4>
    <블록체인 반려견 혈통서 서비스>는 반려견의 유전 정보와 블록체인을 활용하여, 위조에 취약하고 사용하기 불편했던 기존 혈통서의 문제를 해결하였습니다.

    <블록체인 반려견 혈통서 서비스>는 혈통서 작성 기능과 조회 기능으로 구성되어 있습니다.
    
    이는 반려견을 입양할 때와 같은 반려견의 거래/유통에 입양인의 참고자료로 사용됩니다.(입양하려는 애견의 등록번호로 검색, 혹은 애견의 코 비문 - 사람의 지문역할 - 으로 검색 가능)
    
    
    <블록체인 반려견 혈통서 서비스>를 통해 동물생산업자와 양도인은 입양견의 사육환경, 유전정보(부모, 혈통), 생년월일을 증명할 수 있습니다.
    
    반려동물 입양인은 사기 예방은 물론, 강아지를 학대하는 강아지 공장을 배불리지 않고, 믿을 수 있는 양도인으로부터 반려견을 입양할 수 있습니다.
    
    
    <블록체인 반려견 혈통서 서비스>는 독쇼에 출진하는 고가의 견종들뿐만 아니라, 장기적으로는 반려견으로 생산되는 모든 강아지들의 혈통을 기록하여 반려견의 거래사기, 유기, 방치, 돌연변이 발생 등의 문제를 방지할 것입니다.
    
    <블록체인 반려견 혈통서 서비스>는 결과적으로, 더 투명한 유통을 통해 건강한 반려동물 생태계를 만드는 데에 기여할 것입니다.
</div>
</div>
<!-- End Portfolio Projects -->
<!-- divider -->
<div class="row">
<div class="span12">
    <div class="solidline">
    </div>
</div>
</div>
</div>
</section>