<footer>
<div class="container">
    <div class="row">
    <div class="span3">
        <div class="widget">
        <h5 class="widgetheading">Browse pages</h5>
        <ul class="link-list">
            <li><a href="#">About our team</a></li>
            <li><a href="#">Our blockchain services</a></li>
            <li><a href="#">Meet our team</a></li>
            <li><a href="#">Explore our portfolio</a></li>
            <li><a href="#">Get in touch with us</a></li>
        </ul>
        </div>
    </div>
    <div class="span3">
        <div class="widget">
        <h5 class="widgetheading">Important stuff</h5>
        <ul class="link-list">
            <li><a href="#">Press release</a></li>
            <li><a href="#">Terms and conditions</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Career center</a></li>
            <li><a href="#">Showdog forum</a></li>
        </ul>
        </div>
    </div>
    <div class="span3">
            <div class="widget">
              <h5 class="widgetheading">Showdog photostream</h5>
              <img src="/img/dummies/team1.jpg" width="30%" height="30%"/>
              <img src="/img/dummies/team1.jpg" width="30%" height="30%"/>
              <img src="/img/dummies/team1.jpg" width="30%" height="30%"/>
                <br/>
                <img src="/img/dummies/team1.jpg" width="30%" height="30%"/>
                <img src="/img/dummies/team1.jpg" width="30%" height="30%"/>
                <img src="/img/dummies/team1.jpg" width="30%" height="30%"/>
              <div class="clear">
              </div>
            </div>
          </div>
    <div class="span3">
        <div class="widget">
        <h5 class="widgetheading">Get in touch with us</h5>
        <address>
            <strong>MungMung studio, Pte Ltd</strong><br>
            서울특별시 마포구 공덕동 백범로31길 21<br>
            서울창업허브
        </address>
        <p>
            <i class="icon-phone"></i> (123) 456-7890 - (123) 555-7891 <br>
            <i class="icon-envelope-alt"></i> email@mungmung.com
        </p>
        </div>
    </div>
    </div>
</div>
<div id="sub-footer">
    <div class="container">
    <div class="row">
        <div class="span6">
        <div class="copyright">
            <p>
            <span>&copy; MUNG MUNG - All right reserved.</span>
            </p>
            <div class="credits">
                ㈜MUNGMUNG 대표이사 조봉기  서울특별시 마포구 공덕동 백범로31길 21 서울창업허브  전화 : 1588-xxxx 팩스 : 0502-xxx-xxx
                E-mail : contact-us@mungmung.co.kr 사업자등록번호 : 220-87-xxxx호
            </div>
        </div>
        </div>
        <div class="span6">
        <ul class="social-network">
            <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-square"></i></a></li>
            <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-square"></i></a></li>
            <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li>
            <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-pinterest icon-square"></i></a></li>
            <li><a href="#" data-placement="bottom" title="Google plus"><i class="icon-google-plus icon-square"></i></a></li>
        </ul>
        </div>
    </div>
    </div>
</div>
</footer>
