<!-- start header -->
<header>
<div class="container">
    <!-- end toggle link -->
    <div class="row nomargin">
    <div class="span12">
        <div class="headnav">
        <ul>
            <li><a href="/signup">signup</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/userinfo"><i class="icon-user"></i>UserInfo</a></li>
        </ul>
        </div>
        <!-- Sign in Modal -->
        <div id="mySignin" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySigninModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 id="mySigninModalLabel">Login to your <strong>account</strong></h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputText">Username</label>
                <div class="controls">
                <input type="text" id="inputText" placeholder="Username" v-model="username">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputSigninPassword">Password</label>
                <div class="controls">
                <input type="password" id="inputSigninPassword" placeholder="Password" v-model="password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                <button v-on:click="logIn">Sign in</button>
                </div>
            </div>
            </form>
        </div>
        </div>
        <!-- end signin modal -->
    </div>
    </div>
    <div class="row">
    <div class="span5">
        <div class="logo">
        <a href="/"><img src="/img/logo.png" alt="" width="50%" height="50%" class="logo"/></a>
            <h1>블록체인 기반 </h1>
            <h1>반려견 혈통 관리 서비스</h1>
        </div>
    </div>
    <div class="span7">
        <div class="navbar navbar-static-top">
        <div class="navigation">
            <nav>
            <ul class="nav topnav">
                <li class="dropdown active">
                <a href="#">소개<i class="icon-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="/intro/">서비스 소개</a></li>
                    <li><a href="/intro/page1">page1</a></li>
                    <li><a href="/intro/page2">page2</a></li>
                </ul>
                </li>
                <li class="dropdown">
                <a href="#">혈통정보 등록<i class="icon-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="/regist/">등록방법</a></li>
                    <li><a href="/regist/dna">DNA 채취 요청</a></li>
                    <li><a href="/regist/pet">반려견 정보등록</a></li>
                </ul>
                </li>
                <li class="dropdown">
                <a href="#">혈통정보 조회<i class="icon-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="/inquiry/">조회방법</a></li>
                    <li><a href="/inquiry/page1">조회</a></li>
                    <li><a href="/inquiry/page2">...</a></li>
                    <li><a href="/inquiry/page2">...</a></li>
                </ul>
                </li>
                <li class="dropdown">
                <a href="#">반려견 분양 <i class="icon-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="/selling/">분양목록 조회</a></li>
                    <li><a href="/selling/page1">분양등록</a></li>
                    <li><a href="/selling/page2">...</a></li>
                </ul>
                </li>
                <li class="dropdown">
                <a href="#">부가서비스 <i class="icon-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="/additional-service/">독쇼 수상내역 조회</a></li>
                    <li><a href="/additional-service/page1">건강 검진내역 조회</a></li>
                    <li><a href="/additional-service/page2">블록체인 펫보험</a></li>
                    <li><a href="/additional-service/page2">반려견 거래</a></li>
                </ul>
                </li>
                <li class="dropdown">
                <a href="#">위탁기관전용 <i class="icon-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="/company/intro">위탁기관소개</a></li>
                    <li><a href="/company/regist">위탁기관전용</a></li>                
                </ul>
                </li>
            </ul>
            </nav>
        </div>
        <!-- end navigation -->
        </div>
    </div>
    </div>
</div>
</header>
<!-- end header -->