<section id="featured">
<!-- start slider -->
<!-- Slider -->
<div id="nivo-slider">
    <div class="nivo-slider">
    <!-- Slide #1 image -->
    <img src="/img/slides/nivo/bg_slider-1.jpg" alt="" title="#caption-1" />
    <!-- Slide #2 image -->
    <img src="/img/slides/nivo/bg_slider-2.jpg" alt="" title="#caption-2" />
    <!-- Slide #3 image -->
    <img src="/img/slides/nivo/bg_slider-3.jpg" alt="" title="#caption-3" />
    </div>
    <div class="container">
    <div class="row">
        <div class="span12">
        <!-- Slide #1 caption -->
        <div class="nivo-caption" id="caption-1">
            <div>
            <h2>안전한 <strong>유전정보 등록</strong></h2>
            <p>
                저희 MUNGMUNG에서는 블록체인을 통해 안전하게 유전정보를 등록합니다. 유전정보는 반려견주의 키로 암호화되어 저장되기 때문에 오직 반려견주만 조회할 수 있습니다. 견주님의 필요에 따라 등록한 DNA를 활용하여 다양한 부가서비스를 제공합니다.
            </p>
            <a href="#" class="btn btn-theme">Read More</a>
            </div>
        </div>
        <!-- Slide #2 caption -->
        <div class="nivo-caption" id="caption-2">
            <div>
            <h2>편리한 <strong>반려견 조회</strong></h2>
            <p>
                기존의 키로 정보를 조회하는 불편한 블록체인 데이터 조회방식에서 탈피하여, 저희 서비스는 직관적인 등록번호를 통해 간편하게 필요한 정보를 조회할 수 있습니다. 조회된 데이터는 암호화되어 견주님의 키로 다시 한번 더 복호화 과정을 거칩니다.
            </p>
            <a href="#" class="btn btn-theme">Read More</a>
            </div>
        </div>
        <!-- Slide #3 caption -->
        <div class="nivo-caption" id="caption-3">
            <div>
            <h2>다양한 <strong>부가서비스</strong></h2>
            <p>
                블록체인에 저장된 데이터를 통해 다양한 부가서비스를 제공합니다. DNA를 통한 반려견 친자 조회 및 반려견 건강관리, 홍채 인식을 통한 빠른 반려견 인증, 쇼독 매니징 등 다채로운 서비스가 준비되어 있습니다. 지금 견주님의 반려견을 등록하세요!
            </p>
            <a href="#" class="btn btn-theme">Read More</a>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<!-- end slider -->
</section>
  